.card-container {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    transition: 0.30s;
}

.card-container:hover {
    box-shadow: 2px 2px rgb(255, 255, 255, 0.7), -2px -2px rgb(255, 255, 255, 0.7);
}

.image-container {
    height: 180px;
    width: 100%;
}

.image-container img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}