.big-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.small-card-container {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

.restart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}