.header-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}

.title-container{
    font-size: 40px;
    display: flex;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    color: #147efb;
    font-weight: 700;
}

.logo-container img {
    height: 100%;
    width: 100%;
}

.score-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}
